<!DOCTYPE html>
<html lang="en">
    <head>
        <title>hs</title>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet"> 
        <meta name="viewport" content="width=device-width">
        {{ INLINE_CSS }}
    </head>
    <body>
        <header>
            <div class="label">{{ HEADER_TEXT }}</div>
        </header>
        <div class="card-container">
            {{ PRODUCT_CARDS }}
        </div>
        {{ INLINE_JAVASCRIPT }}
    </body>
</html>
